body {
    font-family: Arial, sans-serif;
    background-color: #d1dbdc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #f0ece2;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 10px;
}

.header h2 {
    margin-right: 80px;
}

.login-container p {
    margin: 0;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-container input, .login-container select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .login-container button {
    width: 85%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }

  button:hover {
    background-color: #277b2a;
  }

  

